@import "variables.scss";

.features_main{
    background: $color-main;
    margin-left: 18rem;

    .features_warpper {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-primary-text;
            
        &::before{
            content: '';
            width: 130%;
            height: 0.1rem;
            background: black;
            margin-bottom: 5rem;

        }
        span {
            margin-bottom: 1rem;
        }

        h1 {
            font-size: 4rem;
        }
    }
    .fetaure_details{
        margin-top: 2rem;
        .feature_box{
         display: flex;
         color: $color-primary-text;
         text-align: start;
         gap: 2rem;
          .feature{
            background: linear-gradient(to right bottom, #212428, #16181c);
            padding: 5rem 2rem;
            padding-bottom: 7rem;
            box-shadow: 12px 10px 23px -3px rgba(112, 110, 110, 0.1);
             
            h1{
                margin-bottom: 1rem;
            }
          }
        }
    }
  
}



@media(max-width:1200px) {
    .features_main {
        margin-left: 0;

        .features_warpper{
            &::before{
                display: none;
            }
        }
     .fetaure_details{
        .feature_box{
            display: flex;
            flex-direction: column;
        }
     }
    }
}

