* {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  text-transform: capitalize;
}

img {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.container_main {
  width: 90%;
  margin: 0 auto;
  padding-block: 5rem;
  background-color: #212428;
}

.resume_main {
  background-color: #212428;
  margin-left: 18rem;
}
.resume_main .resume_warpper h1 {
  display: flex;
  justify-content: center;
  color: #c4cfde;
  font-size: 3rem;
}
.resume_main .resume_area {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.resume_main .resume_area ul {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to right bottom, #212428, #16181c);
  box-shadow: -13px -5px 14px -15px rgba(61, 61, 61, 0.75);
  border-radius: 1rem;
}
.resume_main .resume_area ul .li {
  padding-block: 2rem;
  color: #c4cfde;
  font-size: 1.6rem;
  cursor: pointer;
}
.resume_main .education {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.resume_main .education .education_warpper {
  margin-bottom: 5rem;
  height: 20rem;
  background: linear-gradient(to right bottom, #212428, #16181c);
  box-shadow: -13px -5px 14px -15px rgba(61, 61, 61, 0.75);
}
.resume_main .education .education_warpper .education_details {
  padding-left: 2rem;
}
.resume_main .education .education_warpper .education_details h1 {
  padding-block: 1rem;
  color: #c4cfde;
  font-size: 1.5rem;
}
.resume_main .education .education_warpper .education_details p {
  margin-top: 2rem;
  color: #c4cfde;
}
.resume_main .education .education_warpper .education_details p1 {
  padding-top: 2rem;
  color: #c4cfde;
}
.resume_main .skills .skill_warpper .skill_details h1 {
  color: #c4cfde;
}
.resume_main .skills .skill_warpper .skill_details .progress_chart {
  padding-block: 2rem;
  text-transform: uppercase;
}
.resume_main .skills .skill_warpper .skill_details .progress_chart .text {
  margin-top: 1rem;
}
.resume_main .skills .skill_warpper .skill_details .progress_chart .text span {
  color: #c4cfde;
}
.resume_main .skills .skill_warpper .skill_details .progress_chart .progress {
  background: #212428;
  border-radius: 1rem;
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.4588235294), inset -8px -8px 16px rgba(56, 62, 69, 0.4588235294);
  height: 1rem;
  margin-top: 1rem;
}
.resume_main .skills .skill_warpper .skill_details .progress_chart .progress .progress_line1 {
  height: 0.9rem;
  border-radius: 1rem;
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}
.resume_main .skills .skill_warpper .skill_details .progress_chart .progress .progress_line1 span1 {
  color: red;
  font-weight: 500;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume_main .skills .skill_warpper .skill_details .progress_chart .progress .progress_line2 {
  height: 0.9rem;
  width: 40%;
  border-radius: 1rem;
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}
.resume_main .skills .skill_warpper .skill_details .progress_chart .progress .progress_line2 span1 {
  color: red;
  font-weight: 500;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume_main .skills .skill_warpper .skill_details .progress_chart .progress .progress_line3 {
  height: 0.9rem;
  width: 10%;
  border-radius: 1rem;
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}
.resume_main .skills .skill_warpper .skill_details .progress_chart .progress .progress_line3 span1 {
  color: red;
  font-weight: 500;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .resume_main {
    margin-left: 0;
  }
  .resume_main .resume_area ul {
    display: flex;
    flex-direction: column;
  }
  .resume_main .resume_area ul .li {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .resume_main .education {
    display: flex;
    flex-direction: column;
  }
  .resume_main .education .education_warpper {
    width: 92%;
    border-radius: 15px;
  }
}/*# sourceMappingURL=resume.css.map */